<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h3>Leanging django+bootstrap:</h3><br>
        <h5>tests:</h5>
        <div><a href="test_form.html">test_form.html</a></div>
        <div><a href="test_read.html">test_read.html</a></div>
        <div><a href="test_ajax_form.html">test_ajax_form.html</a></div>
        <div><a href="test_ajax_loop_read.html">test_ajax_loop_read.html</a></div>
        <div><a href="test_login.html">test_login.html</a></div>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>
