<!--
    练习：Django中上传文件
    时间：2024-01-12
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>test_upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <div class="container"><br>
        <div class="input-group">
            <input type="file"/>
        </div>
        <!--<div class="input-group mb-3">-->
            <!--<div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>-->
            <!--<div class="custom-file">-->
              <!--<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">kernel image</label>-->
              <input type="file" id="idInputFile" accept="kernel image"/>
              <!--<input type="button" id="idInputButtob" value="Upload"/>-->
            <!--</div>-->
        <!--</div>-->
        <div class="col-sm">
            <p><br>调试窗口：</p>
            <textarea rows="15" cols="100" id="idDebugLogWindow"></textarea>
        </div>
    </div>
</body>
</html>