<!--
    练习：django通过session识别用户
    时间：2023-11-01
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>test_session_page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        /* bootstrap4按钮点击后恢复原样 */
        .btn:focus {
            outline: none;
            box-shadow: none;
            background: #007bff;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>普通页面，已通过session判断当前已登录</div>
    </div>
</body>

</html>