<!--
    练习：Django中上传文件
    时间：2024-01-12
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>[django] test_upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.min.js"></script>
    <script>
        //获取django赋予的csrf token，ajax请求时需要使用
        var csrftoken = '{{ csrf_token }}';
    </script>
</head>

<body>
    <div class="container"><br>
        <div class="row mb-3">
            <div class="col-md">
                <!--
                    fname: BOOT.BIN, image.ub, image-ram.ub, rootfs.tar.bz2, cpu1.bin, fpga.bin, config.json, code_change.bin
                    identity: boot, image, imageram, rootfs, cpu1, fpga, config, codebin
                -->
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="idInputGroupFileAddon">image.ub</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="idInputGroupFile"
                        aria-describedby="idInputGroupFileAddon">
                      <label class="custom-file-label" for="idInputGroupFile" id="idInputFileLabel"></label>
                    </div>
                </div>
                <div class="progress" style="visibility: hidden;">
                    <div class="progress-bar" id="idProgressBar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div>-----------------------------</div>
            </div>
            <div class="col-md">
            </div>
        </div>

        <script>
            $(function(){
                $("#idInputGroupFile").click(function(){
                    document.getElementById("idInputGroupFile").value = "";
                    //清空进度条
                    document.getElementById("idProgressBar").style.visibility = "visible";
                    $('#idProgressBar').css('width', '0%');
                    document.getElementById("idProgressBar").innerHTML = '';
                });
                $("#idInputGroupFile").change(function(){
                    var fpath = document.getElementById("idInputGroupFile").value;
                    var fname = fpath.split('\\').pop();
                    document.getElementById("idInputFileLabel").innerHTML = fname;
                    logInfo("file name: " + fname + "\n");

                    var formData = new FormData();
                    var fileInfo = $('#idInputGroupFile')[0].files[0];
                    if (fileInfo == undefined) {
                        alert("Does not select file");
                        return false;
                    }
                    logInfo("fileInfo name: " + fileInfo.name + "\n");
                    logInfo("fileInfo size: " + fileInfo.size + "\n");
                    logInfo("fileInfo type: " + fileInfo.type + "\n");
                    logInfo("fileInfo lastModified: " + fileInfo.lastModified + "\n");

                    logInfo("csrftoken: " + csrftoken + "\n");
                    formData.append('csrfmiddlewaretoken', csrftoken);
                    formData.append('file', fileInfo);
                    $.ajax({
                        url: "/test_ajax_upload/",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        uploadAsync: false,
                        xhr: function() {
                            var xhr = $.ajaxSettings.xhr();
                            if (xhr.upload) {
                                xhr.upload.addEventListener('progress', function(event) {
                                    var percent = 0;
                                    var position = event.loaded || event.position;
                                    var total = event.total;
                                    if (event.lengthComputable) {
                                        percent = Math.ceil(position / total * 100);
                                    }
                                    //更新进度条
                                    $('#idProgressBar').css('width', percent + '%');
                                    if (percent == 100) {
                                        setTimeout(function(){
                                            document.getElementById("idProgressBar").innerHTML = 'upload: 100%';
                                        }, 1000);
                                    }
                                }, false);
                            }
                        return xhr;
                        },
                        success: function(data) {
                            //var jdata = JSON.parse(data);
                        },
                    });
                });
            });
        </script>

        <div>
            <p><br>调试窗口：<button id="idButtonDebugLogWindow">清除</button></p>
            <textarea rows="15" cols="100" id="idDebugLogWindow"></textarea>
            <script>
                function logInfo(log) {
                    document.getElementById("idDebugLogWindow").value += log;
                }
                document.getElementById("idButtonDebugLogWindow").onclick=function(event){
                    document.getElementById("idDebugLogWindow").value = "";
                }
            </script>
        </div>
    </div>
</body>
</html>