div {
    position: absolute;
    width: 250px;
    height: 100px;
    border: 10px single black;
    color: black;
    text-align: center;
}

div.one {
    background-color: red;
    left: 0px;
    top: 0px;
}

div.two {
    background-color: green;
    left: 75px;
    top: 25px;
}

div.three {
    background-color: blue;
    left: 150px;
    top: 50px;
}

div.four {
    background-color: yellow;
    left: 225px;
    top: 75px;
}