<!--
    练习：flask静态页面
    时间：2023-11-07
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h3>Leanging flask+bootstrap:</h3><br>
        <h5>tests:</h5>
        <div><a href="test_ajax_form.html">test_ajax_form.html</a></div>
        <div><a href="test_template.html">test_template.html</a></div>
    </div>
</body>
</html>
