<!--
    练习：flask登录
    时间：2023-11-21
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- 模板标题 -->
    <title>test_login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css">
    <!-- jquery脚本需放在bootstrap脚本之前 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center py-5">
            <h3 class="display-4">test_login</h3>
        </div>
        <div class="form-group mb-3 col-md-4 mx-auto">
            <input id="idInputUsername" type="text" value="admin" \
                class="form-control rounded-pill border-0 shadow-sm px-4">
        </div>
        <div class="form-group mb-3 col-md-4 mx-auto">
            <input id="idInputPassword" type="password" value="admin" \
                class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
        </div>
        <button id="idButtonLogin" type="submit" value="{{nextURL}}" \
            class="btn btn-primary btn-block mb-2 rounded-pill shadow-sm  col-md-4 mx-auto">Login</button>
    </div>
    <script>
        $(function(){
            $("#idButtonLogin").click(function(){
                $.ajax({
                    url: '/mylogin_submit/',
                    type: 'POST',
                    data: {
                        //'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'Username': $("#idInputUsername").val(),
                        'Password': $("#idInputPassword").val(),
                        'nextURL': $("#idButtonLogin").val(),
                    },
                    success: function(data, status, xhr) {
                        var json = JSON.parse(data);
                        if ('Jump' in json) {
                            window.location.href = json.Jump;
                        } else {
                            alert(json.Info);
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>