[user]
	name = Huang Xing
	email = huangxing567@163.com
[core]
	editor = vim
	quotepath = false
	autocrlf = false
	safecrlf = warn
[credential]
	helper = store
[http]
	# 100M: 104857600
	# 1G: 1073741824
	# 2G: 2147483648
	# 10G: 10737418240
	# 15G: 16106127360
	# 20G: 21474836480
	postBuffer = 104857600
[alias]
	br = branch
	#br = !sh -c 'git branch | cat'
	#br = "!br() { git branch $* | cat; }; br"
	co = checkout
	st = status
	cm = commit
	cs = commit -s
	dif = diff
	pl = pull
	ps = push
	lg = "log --oneline --graph --pretty=format:\"%C(yellow)%h %Cred[%an]%Creset %Cblue[%ad]%Creset %s %Cgreen(%cr)%Cred%d\" --date=format:'%Y-%m-%d %H:%M:%S' -n 30"
	cmhx = commit -s --author='Huang Xing <huangxing567@163.com>'
	brau = "!brau() { git for-each-ref --format='%(committerdate) %09 %(authorname) %09 %(refname)' | sort -k5n -k2M -k3n -k4n | cat; }; brau"
[http]
	#proxy = http://proxy.nioint.com:8080
[https]
	#proxy = https://proxy.nioint.com:8080
